


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;

}

/* palette */
:root{
    --black: #000000;
    --white: #ffffff;
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --lilla: #9792e4;
    --yellow: #fdc15f;
    --darkgrey: #333333;
    --ligtgrey: #5A6E7F;
}
/* 
.widthbig{
    max-width: 1200px;
} */

.constrictor{
    margin: 0 auto;
}

.black{
    color: var(--black);
}

.white{
    color: var(--white);
}

.white2{
    color: rgba(255, 255, 255, 0.5);
}

.blue{
    color: var(--blue);
}

.ligtgrey{
    color: var(--ligtgrey);
}

.lilla{
    color: var(--lilla);
}

.yellow{
    color: var(--yellow);
}

.fontdim1{
    font-size: 1.9em;
}

.fontdim2{
    font-size: 1.3em;
    font-weight: 700;
}

.fontdim3{
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.fontdim4{
    font-size: 2.5em;
    font-weight: 700;
}

.fontdim4b{
    font-size: 2.8em;
    font-weight: 700;
}

.fontdim4c{
    font-size: 4em;
    font-weight: 700;
}

.fontdim4d{
    font-size: 5em;
    font-weight: 700;
}


.fontdim5{
    font-size: 1.3em;
}

.fontdim5b{
    font-size: 1.2em;
    font-weight: lighter;
}

.fontdim6{
    font-size: 1.5em;
    font-style: italic;
}

.fontdim7{
    font-size: 1.8em;
}

.fontdim6n{
    font-size: 1.6em;
}


.button1{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    padding: 15px 70px 15px 70px;
    margin: 0 auto;
    text-decoration: none;
}

.button2{
    background-color: var(--lilla);
    color: var(--white);
    border-radius: 50%;
    padding: 15px 15px 15px 15px;
    margin: 0 auto;
    text-decoration: none;
}

p{
    line-height: 2em;
}

.iconmargin{
    margin: 0em 0.3em 0em 0.3em;
}

.iconmarginb{
    width: 30px;
    height: 25px;
    vertical-align: middle;
    padding-left: 4px;
}

.iconmarginc{
    padding: 0em 0.4em 0em 0.4em;
}

.iconsize{
    font-size: 4em;
}

.cnts{text-align: center;}

.margintopbot{
    margin-top: 50px;
    margin-bottom: 50px;
}

.margintopbot15{
    margin-top: 15px;
    margin-bottom: 15px;
}



/* header */

nav{
    background-color: var(--blue);
    height: 76px;
    position: fixed; 
    top: 0px;
    width: 100%;  
    z-index: 1000;
}

.flexnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    margin: 0px 40px 0px 40px;
}

/* headerend */


/* main */


/* section1 */

.section1{
    margin-top: 140px;
    margin-bottom: 120px;

}

.sfondocard1{
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 40px;
}

.sfondocard1b{
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 40px;
}

.flexcard1{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0px 40px; 
    justify-content: space-around;
    gap: 30px;
}

.flexcard2{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px; 
    justify-content: space-around;
    gap: 30px;
}

/* section 1 end */

/* section 2 */

.section2{
    background-color: var(--lilla);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.img2{
    align-self: center;
    width: 80vw;
    margin: 50px 0px 70px 0px;
}

.flexcard3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 60px;
}

.sfondocard2{
    background-color: var(--white);
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* section 2 end */

/* section 3 */

.nocard{
    padding-top: 50px;
    padding-bottom: 50px;

}

.sfondocard3{
    background-color: var(--lilla);
    border-radius: 40px;
    margin: 40px;
}

.flexcard2b{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; 
    justify-content: space-around;
    gap: 30px;
}

.testimonials{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonials2{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    background-image: url(../img/testimonial2.jpg);
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonials3{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    background-image: url(../img/testimonial3.jpg);
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
}

.section3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* section 3 end */

/* section 4 */

.flexcard4{
    display: flex;
    flex-direction: column;
    padding: 40px; 
    justify-content: space-around;
    gap: 30px;
    position: relative;
}

.button3{
        background-color: var(--lilla);
        color: var(--white);
        border-radius: 30px;
        padding: 15px 70px 15px 70px;
        text-decoration: none;
        align-self: flex-start;
}

/* section4 end */

/* section 5 */

.sec5{
    gap: 80px;
}

.profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overab{
    position: absolute;
    left: 230px;
    top: 40px;
    font-size: 100px;
    color: var(--lilla);
}

.button4{
    background-color: var(--lilla);
    color: var(--white);
    border-radius: 30px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    align-self: flex-start;
}

/* section 5 end */

/* section 6 */

.flex6{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 40px;
}

.button6{
    background-color: var(--white);
    color: var(--lilla);
    border-radius: 40px;
    padding: 20px 70px 20px 70px;
    margin: 0 auto;
    text-decoration: none;
}

.section6{
    background-color: var(--lilla);
    padding: 80px 40px 80px 40px;
    display: flex;
    flex-direction: column;
}

/* section 6 end*/

/* footer */

.foot{
    background-color: var(--darkgrey);
}

.flexcard2c{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 60px 40px 60px 40px ; 
    justify-content: space-between;
    gap: 100px;
}

/* footer end */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* QUERY TABLET */

@media screen and (min-width: 768px ){

    /* fonts dimintionts by 0.4em */
    .fontdim1{
        font-size: 1.5em;
    }
    
    .fontdim2{
        font-size: 0.9em;
        font-weight: 700;
    }
    
    .fontdim3{
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
 
    .fontdim4b{
        font-size: 2.4em;
        font-weight: 700;
    }
    
    .fontdim4c{
        font-size: 3.6em;
        font-weight: 700;
    }
    
    .fontdim4d{
        font-size: 4.6em;
        font-weight: 700;
    }
    
    
    .fontdim5{
        font-size: 0.9em;
    }
    
    .fontdim5b{
        font-size: 0.8em;
        font-weight: lighter;
    }
    
    .fontdim6{
        font-size: 1.1em;
        font-style: italic;
    }
    
    .fontdim7{
        font-size: 1.4em;
    }
    
    .fontdim6n{
        font-size: 1.2em;
    }

/* section1 */
        .flexbase{
            display: flex;
            flex-wrap: wrap;
            margin-left: 40px;
            margin-right: 40px;
            justify-content: space-between;
        }

        .sfondocard1{
            width: calc( 100% * 0.66);
            margin: 0 ;
            margin-bottom: 40px;
        }

        .sfondocard1b{
        width: calc( 94% / 3);
        margin: 0 ;
        margin-bottom: 40px;
        padding: 25px;
        justify-content: flex-start;
     }

     .img1{
        width: 50%;
     }

     #modify{
        align-self: flex-start  ;
        margin: 0%;
     }

/* section2 */
    
    #textbig{
        font-size: 4em;
        font-weight: 700;
     }

     .iconmarginb{
        width: 30px;
        height: 25px;
        vertical-align: middle;
        padding-left: 3px;
        line-height: 25px;
    }

/* section3 */

     .flexcard2b{
        flex-direction: row;
     }

     .change1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;
     }

     .name{
        margin-left: 20px;
     }

     .fontdim6n{
        font-size: 1.2em;
     }

     .fontdim4{
        font-size: 2.1em;
        font-weight: 700;
    }

    .fontdim7{
        font-size: 1.4em;
    }

    /* section4 */

        .change2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .flexcard4{
            width: calc(95% / 2);
            margin-top: 20px;
            margin-bottom: 20px;
            
        }

        /* section5 */

        .change3{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        #profile{
            justify-content: flex-start;
        }

        /* section6 */
        .flex6{
            margin: 0 auto;
            max-width: 80%;
        }

        /* footer */
        .flexcard2c{
            margin: 0 auto;
            max-width: 80%;
        }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */










/* QUERY DESKTOP*/

@media screen and (min-width: 1200px ){
    body{
        background-color: rgb(0, 255, 21);
    }
}